.justify-between {
	justify-content: space-between;
}

.card-title {
	padding: 0.8rem;
}

.fd-column {
	flex-direction: column;
}

#main {
	padding: 8px;
	position: fixed;
	top: 8%;
	left: calc(50% - 25%);
	width: 50%;
	height: 80%;
	box-sizing: border-box;
	overflow: auto;
}

html {
	overflow: hidden;
}

@media screen and (max-width: 768px) {
	#main {
		width: 90%;
		left: calc(50% - 45%);
	}
}