.justify-between {
	justify-content: space-between;
}

.card-title {
	padding: 0.8rem;
}

.fd-column {
	flex-direction: column;
}

#main {
	padding: 8px;
	position: fixed;
	top: 8%;
	left: calc(50% - 25%);
	width: 50%;
	height: 80%;
	box-sizing: border-box;
	overflow: auto;
}

#server-card {
	background-image: url('./assets/background.webp');
	background-size: cover;
	& .v-card-title, .v-card-subtitle, .v-card-text, .v-avatar {
		border-radius: 0.2rem;
		background-color: rgba($color: var(--v-theme-background), $alpha: var(--v-medium-emphasis-opacity));
	}
}

#player-list>:not(:first-child) {
	margin-top: 0.6rem;
}

html {
	overflow: hidden;
}

@media screen and (max-width: 768px) {
	#main {
		width: 90%;
		left: calc(50% - 45%);
	}
}

@media screen and (prefers-color-scheme: dark) {
	#server-card {
		background-image: url('./assets/background-dark.webp');
	}
}